<h1>Edição de Departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Ver departamento', @departamento, class:"btn btn-default" %> 
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
